.git
.gitignore
.github
.mypy_cache
.pytest_cache
.ruff_cache
*.egg-info
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

tests
*.md
!README.md

Makefile
.pre-commit-config.yaml
coverage.xml
*.cover
.coverage
.hypothesis

Chart.yaml
templates
values.yaml

.env
.env.*
*.local
